@font-face {
    font-family: DroidSansMono;
    src: url(../font/DroidSansMono-1.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: DroidSansMono;
    user-select:none;
    /* outline: 1px solid #ff0000; */
}
body{
    min-height: 100vh;
    display: flex;
}
nav{
    min-width: 216px;
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #dfe6e9;
}
nav .logo{
    margin-top: 30px;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-links{
    /* margin-top: 30px; */
    width: 100%;
    height: 60%;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav .nav-item{
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 10px;
    color: #999;
    cursor: pointer;
    fill:currentColor;
    transition: all .3s linear;
}
nav .nav-item:hover{
    background: #bdc3c7;
}
.img-box,nav .nav-item .nav-item-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-item .img-box svg{
    width: 28px;
    height: 28px;
}
nav .nav-item .nav-item-title{
    margin-left: 16px;
    font-size: 18px;
}
nav .active{
    background: #ffffff !important;
    border-radius: 25px 0 0 25px;
    box-shadow: -3px 5px 3px #ccc;
    color: #111;
    fill: #f39c12;
    font-weight: 700;
}
main{
    flex: 1;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}
main>header{
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main>header .header-hello{
    font-size: 32px;
    font-weight: 300;
}
main>header .header-hello span{
    font-weight: 900;
}
main>header .header-right{
    min-width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main>header .search, main>header .remind{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dfe6e9;
    padding: 5px;
    border-radius: 7px;
}
main>header .search svg, main>header .remind svg{
    width: 24px;
    height: 24px;
    
}
main .main{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main .main-left,.main .main-right{
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main .main-header{
    display: flex;
    height: 42px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-header .main-header-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-header-left .main-header-title{
    font-size: 18px;
    font-weight: bold;
}
.main-header-left .main-header-direction{
    font-size: 12px;
    color: #999;
}
.main-header-right .select-date{
    min-width: 160px;
    display: flex;
    padding: 5px 10px;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #999;
    border-radius: 18px;
    color: #999;
}
.select-date-num{
    display: flex;
    align-items: center;
}
.main-header-right svg{
    width: 24px;
    height: 24px;
    fill: currentColor;
}
.main-left .timetable{
    height: 0px;
    /* flex: 0.98; */
    overflow:hidden scroll;
    position: relative;
    margin-top: 20px;
    /* scrollbar-width */
}

.timetable::-webkit-scrollbar {
    width:9px;
}
/* 滚动槽 */
.timetable::-webkit-scrollbar-track {
    /* border: 1px solid #ccc; */
}
/* 滚动条滑块 */
.timetable::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.1);
}
.main-left .timetable ul{
    list-style: none;
}
.timetable ul li{
    height: 120px;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.timetable ul li div:nth-of-type(1){
    width: 12%;
}
.timetable ul li div:nth-of-type(2){
    /* margin-left: 20px; */
    height: 1px;
    flex: 1;
    box-sizing: border-box;
    margin: 0 5%;
    /* width: 80%; */
    background: #000;
}
.timetable .class-list{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* background: rgba(0,0,0,0.5); */
}
.class-list .class-item{
    width: 70%;
    height: 90px;
    border-radius: 16px;
    position: absolute;
    top: 0;
    /* left: 20%; */
    right: 9%;
    background: #999;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.class-item .class-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    margin: 0 15px;
    box-sizing: border-box;
}
.class-item .class-detail{
    height: 50px;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.class-detail .class-title{
    font-size: 20px;
    font-weight: bold;
}
.class-detail .class-time{
    font-size: 14px;
    font-weight:lighter;
}
.class-room{
    flex: 1;
    text-align: center;
    /* padding: 0 20px; */
    font-size: 18px;
}
footer{
    min-width: 256px;
    width: 16%;
    box-sizing: border-box;
    border-left: 2px solid #bdc3c7;
}